body {
	margin: 0px;
	padding: 0px;
	position: relative;
	background: gainsboro;
}
.header{
	background-color: burlywood;
	width:87%;
	margin-left: 219px;
}

div {
	background-color: grey;
	padding: 10px;
	text-align: center;
}

a {
	color: black;
	display: inline-block;
	text-align: center;
	background-color: yellow;
	padding: 2px;
	text-decoration: none;
	border-radius: 7px;
	width: 100px;
	font-weight: bold;
	margin-right: 100px;

}

i {
	margin-right: 3px;
}

div>a:hover {
	background-color: rgb(197, 181, 150);
	color: black;
	box-shadow: 0 0 10px rgb(31, 190, 26);
}

.footer {
	background-color: burlywood;
	height: 20px;
	position: absolute;
	top: 732px;
	width: 100%;
}

.side {
	position: absolute;
	background-color: rgb(90, 47, 47);
	width: 200px;
	height: 720px;
	top:0px;

}
td{
	font-weight: bold;
}
input{
	font-weight: bold;
	border: 2px inset rgb(48, 30, 30);
}
textarea{
	border: 2px inset rgb(48, 30, 30);
}
table{
	position: absolute;
	left: 360px;
	top: 200px;
}

a:link {
	color: red;
}

a:visited {
	color: green;
}

a:active {
	color: blue;
}


@media only screen and (max-width:500px) {
	a {
		display: block;
		width: 100%;
		margin: 3px;
	}

	body {
		background: yellowgreen;
	}
	.side{
		display: none;
	}
.header{
	margin-left: 2px;
}	
table{
	margin-left: 2px;
}
}